<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nanoclaw.container-prune</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/chrisrimmer/python_projects/nanoclaw/scripts/prune-container-images.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/chrisrimmer</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/chrisrimmer/python_projects/nanoclaw/logs/container-prune.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/chrisrimmer/python_projects/nanoclaw/logs/container-prune.error.log</string>
</dict>
</plist>
